* {
  margin: 0;
  padding: 0;
}

 body {
  font-family: 'Roboto', sans-serif;
} 

.nav {
  background-color: #c76e6e;
  color: #ffffff;
  height: 80px;
  width: inherit; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Silkscreen', cursive;
}

.nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
}

.nav-title {
  margin-left: 20px;
}

.btn {
  height: 35px;
  width: 100px;
  background-color: #66c86b;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 5px 5px #000000;
  font-family: 'Silkscreen', cursive;
}

.row {
  display: flex;
}

.col {
  flex: 1;
 
  padding: 20px;
  margin: 30px;
}

.container{
  margin: 0 auto;
  display: flex;
}

.row {
 margin: 0 auto;
  width: 1500px;
}

.card-header img {
  width: 150px;
  border-radius: 50%;
}
.col-2 {
  flex: 1;
  background-color: #c76e6e;
  height: 90px;
  padding: 20px;
  margin: 10px;
 
  border: 1px solid grey;
}
.user-card {
  height: 500px;
  justify-content: center;
  margin: auto;
  
}
.card {
  border: 1px solid black;
  height: 200px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;

}
.header {
 background-color: #c76e6e;
 border-radius: 9px;
 height: 50px;
 font-size: 40px;
 font-family: 'Silkscreen', cursive;
}
.card-body {
  font-family:'Silkscreen', cursive;
}
.card-body img {
  width: 20px;
  justify-content: space-between;
}

.card-body p {
  justify-content: space-around;
  margin: 20px;
}

.col {
  display: flex;
  justify-content: space-between;
}

.card2 .header2, .header3 {
  background-color: #c76e6e;
  font-family: 'Silkscreen', cursive;
  border-radius: 9px;
 height: 30px;
 font-size: 20px;
 
 
}
.card2 .connections {
  margin: 10px;
  background-color: #66c86b;
  border-radius: 20px;
  
}
.user-line{
  font-family: 'Silkscreen', cursive;
}
.user-line .start img{
  width: 80px;
  border-radius: 20px;
}
.end {
  width: 60px;
}

 .end .avatar-s {
  width: 35px;
  justify-content: space-evenly;
  margin: 10px;
}
.header3{
  background-color: #c76e6e;
  height: 50px;
  padding: 20px;
  width: 200px;
}
.header3 > span {
  color: black;
  margin: 10px;
  background-color:#66c86b;
  border-radius: 40%;
  margin: 20px;
}
.card3 > .user-line {
  justify-content: space-between;
  width: 100px;
  padding: 20px;
  padding-right: 10px;
  align-items: center;
}

.footer {
  border: 1px dotted black;
  box-shadow: 5px 5px #66c86b;
  height: 40px;
}

.footer a {
  font-family: 'Silkscreen', cursive;
 padding: 20px;
 
}

 .start img {
  justify-content: space-between;
  width: 100px;
  padding: 10px;
  align-items: center;
}
.header2 {
  background-color: #c76e6e;
  height: 10px;
  padding: 20px;
  width: 200px;
  
}